DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=true

# JWT
JWT_SECRET_KEY=change-me-to-a-long-random-string
JWT_EXP_HOURS=24

# Django DB (Render / Postgres)
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host
DB_PORT=5432

# CORS (for demo)
CORS_ALLOW_ALL_ORIGINS=true
ALLOWED_HOSTS=*

